.title-yellow {
    background-color: rgb(201, 201, 18);
    border: rgba(0,0,0,.25) solid 1px;
    border-width: 1px 1px 1px 1px;
    display: inline-block;
    text-align: center;
    font-size: xx-large;
    width: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.title-green {
    background-color: rgb(65, 186, 31);
    border: rgba(0,0,0,.25) solid 1px;
    border-width: 1px 1px 1px 1px;
    display: inline-block;
    text-align: center;
    font-size: xx-large;
    width: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}