.scorecard {
    margin: auto;
    padding-top: 1em;
    width: 75em;
}

.headings {
    background-color: rgb(65, 186, 31);
}

.line span {
    word-spacing: 0;
    letter-spacing: 0;
}
  
.line {
    word-spacing: -3px;
    letter-spacing: -3px;
}

.line > span {
    border: rgba(0,0,0,.25) solid 1px;
    border-width: 1px 1px 1px 1px;
    display: inline-block;
    text-align: center;
    width: 3em;
}
