@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  	text-align: center;
}

/* this navigation styling will be used on all pages for the same navbar */
.navigation {
	/* flexbox styles */
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	background: rgb(65, 186, 31);
	font-family: "Cabin", sans-serif;
	font-size: 18px;
}

.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation Link{
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation a:hover {
  	background: rgb(50, 142, 25);
}

/* responsive design as screen size changes */
@media all and (max-width: 600px) {
	.navigation {
		flex-flow: column wrap;
		padding: 0;
	}

	.navigation a {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.navigation li:last-of-type a {
		border-bottom: none;
	}
}

/* universal styling for all buttons on the site to look a little nicer */
button {
    background-color: rgb(65, 186, 31);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
  	background-color: rgb(50, 142, 25);
}